@import "./variables";

//flex
@mixin flex($flex, $order, $flex-grow) {
    flex: $flex;
    order: $order;
    flex-grow: $flex-grow;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

//max-width
@mixin max-width{
    max-width: 1200px;
    width: 100%;
}

@mixin max-width-header{
    max-width: 1200px;
    width: 100%;
}

@mixin max-width-footer{
    max-width: 1200px;
    width: 100%;
    padding: 24px 0px;
}

//bg
@mixin bg($name, $path: "../../images/", $format: "png") {
    background-image: url("#{$path}#{$name}.#{$format}");
}

@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  }

